<div class="container mt-3" style= "height: 90vh">
    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">タグ検索</a></li>
        <li><a href="#tab2" class="">サイト名検索</a></li>
        <li><a href="#tab3" class="">カテゴリー検索</a></li>
        <li><a href="#tab4" class="">Share＊CAMP</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <p>気になるタグをクリック！</p>
            <ul>
              <% @tags.each do |tag| %>
                <li>
                  <%# タグの名前と、関連付く記事数を表示 %>
                  <%= link_to "#{tag.name} ( Sites: #{tag.sites.count} )", tag_path(tag) %>
                </li>
              <% end %>
            </ul>
        </div>

        <div id="tab2" class="tab">
          <p>検索したいサイト名を入力してください。
            <%= render 'public/searches/search' %>
          </p>
        </div>

        <div id="tab3" class="tab">
          <p>フィールドタイプから検索。</p>
          <!--<!%= render 'public/searches/fieldsearch' %>-->
          <!--<!%= form_tag(searches_fieldsearch_path(keyword: @site.field_type), method: "get") do %>-->
          <!--  <!%= select_tag(:field_type, options_for_select([["forest","forest"],["grass","grass"],["riverside","riverside"],["seaside","seaside"],["lakeside","lakeside"]])) %>-->
          <!--  <!%= submit_tag "絞り込み" %>-->
          <!--<!% end %>-->
          <%= form_with url: searches_fieldsearch_path, local: true, method: :get do |f| %>
            <!--<!%= f.label :keywords, '検索ワード' %>-->

            <%# 検索ワードを引く次ぐためにparams[:keywords] %>
            <!--<!%= f.text_field :keywords, params[:keywords] %>-->

            <!--prefectureの検索-->
            <!--<!%= f.select :prefecture_id,　enumの内部を書いて画面には１：青森　など表示する。実際に送るデータは1 %>-->
            <%= f.select :prefecture_id, Site.prefectures_i18n.invert, {prompt: "選択して下さい"}, class: "prefecture-select" %>
            <!--field_typeの検索-->
            <%= f.select :field_type_id, Site.field_types_i18n, {prompt: "選択して下さい"}, class: "field_type-select" %>

            <%# セレクトボックスの状態を引き継ぐためにoptions_for_selectのselectedオプションを使用 %>
            <!--<!%= f.select :type, options_for_select({"AND" => " AND", "OR" => "OR" }, { :selected => params[:type] }) %>-->

            <%= f.submit '検索' %>
          <% end %>

          <%# @resultsにデータが入っていれば検索結果を表示する %>
          <!--<!% if @results %>-->
            <!--<h2><!%= @keywords %> Search Result ( <!%= @type %> )--
          <!--  <!% @results.each do |result| %>-->
          <!--    <p>-->
          <!--      <!%= result.prefecture %><br>-->
          <!--      <small>-->
          <!--        <!%= result.field_type %>-->
          <!--      </small>-->
          <!--    </p>-->
          <!--  <!% end %>-->
          <!--<!% end %>-->

        </div>

        <div id="tab4" class="tab">
          <p>「みんなにオススメしたい」と思えるキャンプ場を、<br>
          ぜひ、シェアしてください！！
          </p>
        </div>
      </div>
    </div>
</div>

<script>
    $('#tab-contents .tab[id != "tab1"]').hide();

    $('#tab-menu a').on('click', function(event) {
      $("#tab-contents .tab").hide();
      $("#tab-menu .active").removeClass("active");
      $(this).addClass("active");
      $($(this).attr("href")).show();
      event.preventDefault();
    });
</script>

<script>
  var d = new jpmap.japanMap(document.getElementById("my-map"), {
    showsPrefectureName: true, //都道府県名を表示させる
    width: 1000,　//横幅のサイズ
    movesIslands: true, //沖縄地方が地図の左上の分離されたスペースに移動する
    lang: 'ja', //表示させている都道府県名を日本語にする
    onSelect: function(data){
      alert(data.name);
    }
  });
</script>