<div class="container mt-3">
  <!--<!%= render 'public/homes/flash' %>-->
  <div class="row">

    <div class="col-md-8">
      <div id="box">
        <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
        </div>
      </div>
      <div class="mt-5 w-100"></div>
      <div class="card-group">
        <% @sites.each do |site| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag site.get_image(100,100) %>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to site_path(site) do %>
                  <%= site.name %>
                <% end %>
              </h5>
              <p class="card-text">
                <%= site.review %>
              </p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <!--topページサイドバー-->
    <div class="col-md-4" style="background-color: #f5f5f5;">
      <h4 class="py-2 text-center">おすすめサイト</h4>

      <div class="card border-info mt-3" style="max-width: 100%;">
        <div class="card-header">Camp-meal</div>
        <div class="row card-body text-info">
          <div class="col-md-4">
            <%= image_tag "camp-eat.jpg", size: "100x100", alt: "camp-meal" %>
          </div>
          <div class="col-md-8 card-text">
            　＊<%= link_to "ソトレシピ","https://sotorecipe.com/magazines/simple-campingfood" %><br>
            <br>
            　＊<%= link_to "ハピキャン","https://happycamper.jp/_ct/17410718" %>
          </div>
        </div>
      </div>
      <div class="card border-info mt-3" style="max-width: 100%;">
        <div class="card-header">Camp-gear</div>
        <div class="row card-body text-info">
          <div class="col-md-4">
            <%= image_tag "camp-gear.jpg", size: "100x100", alt: "camp-gear" %>
          </div>
          <p class="col-md-8 card-text">
            　＊<%= link_to "DOD", "https://www.dod.camp/" %><br>
            <br>
            　＊<%= link_to "ワークマン", "https://workman.jp/shop/pages/campgear-article-02.aspx" %>
          </p>
        </div>
      </div>
      <div class="card border-info mt-3" style="max-width: 100%;">
        <div class="card-header">Column</div>
        <div class="row card-body text-info">
          <div class="col-md-4">
            <%= image_tag "camp-column.jpg", size: "100x100", alt: "camp-column" %>
          </div>
          <p class="col-md-8 card-text">
            　＊<%= link_to "キャンプぐらし", "https://cocamp.co.jp/media/category/camp-gear/" %><br>
            <br>
            　＊<%= link_to "CAMP HUCK", "https://camphack.nap-camp.com/categories/news" %>
          </p>
        </div>
      </div>
      <div class="card border-info my-3" style="max-width: 100%;">
        <div class="card-header">Weather</div>
        <div class="row card-body text-info">
          <div class="col-md-4">
            <%= image_tag "camp-weather.jpg", size: "100x100", alt: "camp-weather" %>
          </div>
          <p class="col-md-8 card-text">
            　＊<%= link_to "YAHOO天気", "https://weather.yahoo.co.jp/weather/" %><br>
            <br>
            　＊<%= link_to "WeatherNews", "https://weathernews.jp/onebox/tenki/" %>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  // オプションを指定してSkipprの実行
  $("#theTarget").skippr({
    // スライドショーの変化（"fade" or "slide"）
    transition : 'fade',
    // 変化にかかる時間（ミリ秒）
    speed : 1000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形（"block" or "bubble"）
    navType : 'block',
    // 子要素の種類（"div" or "img"）
    childrenElementType : 'div',
    // ナビゲーション矢印の表示（trueで表示）
    arrows : true,
    // スライドショーの自動再生（falseで自動再生なし）
    autoPlay : true,
    // 自動再生時のスライド切替間隔（ミリ秒）
    autoPlayDuration : 3000,
    // キーボードの矢印キーによるスライド送りの設定（trueで有効）
    keyboardOnAlways : true,
    // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
    hidePrevious : true
  });
</script>